body {
    background: rgb(189, 140, 186);
    font: normal 15pt Arial;
    }

header {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 0;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
}

footer {
    color: white;
    text-align: center;
    font-style: bold;
    padding: 15px 0;
}

input[type="number"] {
    text-align: left;
    width: 35%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type=button]{
    height: 25px ;
    width: 96px;
    border-radius: 5px;
    text-align: center;
}

